<footer class="mastfoot mt-auto">
        <div class="inner">
          <a href="https://twitter.com/alpacadamia"><i class=" footer-i fab fa-twitter fa-2x "></i></a>
          <a href="https://www.facebook.com/Alpacadamia-324644274740822/?view_public_for=324644274740822"><i class=" footer-i fab fa-facebook-f fa-2x "></i></a>
          <a href="https://discord.gg/2AQjPD"><i class=" footer-i fab fa-discord fa-2x "></i></a>
          <p>2018 Alpacadamia Copyright &copy;</p>
        </div>
      </footer>
    </div>


</body>
</html>