<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        
        <link rel="stylesheet" type="text/css" href="resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="vendors/bootstrap.css">
        <!-- <link href="vendors/cover.css" rel="stylesheet"> -->
        <!-- <link href="vendors/css/all.css" rel="stylesheet">  -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link href="vendors/pricing.css" rel="stylesheet">
        <link href="vendors/form-validation.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/content.css">


        <title>Alpacadamia</title>
    </head>
        <body>
            <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
                <header class="masthead mb-auto">
                    <div class="inner">
                        <div class="row">
                            <h3 class="masthead-brand col-6"><a href="/">Alpacadamia.</a></h3>
                            <nav class="nav nav-masthead justify-content-center col-6">
                              <a class="nav-link active" href="/about">About</a>
                              <a class="nav-link" href="/contact">Contact</a>
                              <!-- <a class="nav-link" href="/blog">Blog</a> -->
                            </nav>
                        </div>
                        
                    </div>
                </header>



            
