
<% include partials/headerone %>

    <div class="container">
        <div class="row"> 
            <h1 style="margin-top:100px">hello</h1>
            <p>A few years ago I started to teach students attending the World Scholars Cup and fell in love with the content itself.
                I think the tournament brings together diverse content and topics that I would otherwise be unaware of.  This year my 
                favorite section was the Speacial Area: Human Relationshipls.  It helped me to imagine why we choose the media we do 
                and how we interact with it.  In short, I am a student as much as a teacher and therfore created this resource to share 
                my passion.
            </p>
            <p style="margin-bottom:306px">I have judged debate at both regional and global rounds. Furthermore, before becomeing interested in the Wolrd Scholars Cup I judged at some
                of the top university debate tournaments.  I have coached some of the top teams at Yale and continue to teach literature as well at a private
                institution in South Korea. 
            </p>
           
        </div>
                 
<% include partials/footer%>

