<% include partials/headerone %>
<div class="container">
    <div style="margin-top:100px" class="row">
        <div class="col-md-4 " >
            <i class="fas fa-globe-asia fa-10x " style="color:white"></i>
            <h1>Any Time</h1>
            <p>We can meet anytime.  I am often in different time zones, so it really doesn't matter if you are.  In addition
                to being connected through skype we will use other social media tools to make sure and maximiaze your learning
                and retention of skills and content.
            </p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-clock fa-10x" style="color:white"></i>
            <h1>Anywhere</h1>
            <p>Skype allows us to meet with your team from the comfort of your home and any cormer of the world.
                Lessons stay focused sharing content and websites while reviewing documents together onlie.
            </p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-chalkboard-teacher fa-10x" style="color:white"></i>
            <h1>Any Subject</h1>
            <p>Essay writing, debate, or content.  I can help you prepare for all three.  Come with your ideas about what
                you would like to work on, or allow me to take you through a comprehensive competition preperation including 
                everything you'll need for success.
            </p>
        </div>
    </div>
    <button style="margin-top:50px"class="text-center btn btn-primary"><a href="/contact">Contact for consultaiton</a></button>


    <% include partials/footer %>
        
       
        
        
        
        
        
 






