<% include partials/headerone %>
<body>

       
    
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">Subject Notes</h1>
          <p class="lead">Each subject is an organized pdf with hyperlinks to information I use to prepare my own students for the competition.</p>
        </div>
    
        <div class="container">
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Speacial Area</h4>
              </div>
              <div class="card-body card-one-background">
                <h1 class="card-title pricing-card-title">$5 <small class="text-muted"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
            
                  
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Purchase</button>
              </div>
            </div>
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Social studies</h4>
              </div>
              <div class="card-body card-two-background">
                <h1 class="card-title pricing-card-title">$5 <small class="text-muted"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
   
    
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Purchase</button>
              </div>
            </div>
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Science</h4>
              </div>
              <div class="card-body card-three-background">
                <h1 class="card-title pricing-card-title">$5 <small class="text-muted"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                
                  
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Purchase</button>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
                <div class="card-deck mb-3 text-center">
                  <div class="card mb-4 box-shadow">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Literature</h4>
                    </div>
                    <div class="card-body card-four-background">
                      <h1 class="card-title pricing-card-title">$5 <small class="text-muted"></small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                 
                        
                      </ul>
                      <button type="button" class="btn btn-lg btn-block btn-primary">Purchase</button>
                    </div>
                  </div>
                  <div class="card mb-4 box-shadow">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Art & Music</h4>
                    </div>
                    <div class="card-body card-five-background">
                      <h1 class="card-title pricing-card-title">$5 <small class="text-muted"></small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                    
                        
                      </ul>
                      <button type="button" class="btn btn-lg btn-block btn-primary">Purchase</button>
                    </div>
                  </div>
                  <div class="card mb-4 box-shadow">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">History</h4>
                    </div>
                    <div class="card-body card-six-background">
                      <h1 class="card-title pricing-card-title">$5 <small class="text-muted"></small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                   
                        
                      </ul>
                      <button type="button" class="btn btn-lg btn-block btn-primary">Purchase</button>
                    </div>
                  </div>
                </div>
              </div>
              
        

        <% include partials/footer %>
    
    
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="../../assets/js/vendor/popper.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <script src="../../assets/js/vendor/holder.min.js"></script>
        <script>
          Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
          });
        </script>
      
    
    </body>