

  <main role="main">

<% include partials/headerone %>


  
    

    
          <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Everything you need.</h1>
              <p>Tools, guides, lessons and a little more to help you prepare for the World Scholars Cup ™</p>
              <p></p>
            </div>
          </div>
    
          <div class="container">
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-md-4">
                <div class="row">
                    <h2>Skype Lessons</h2>
                    <i class=" white fab fa-skype fa-2x"></i>
                </div>
                <p>Need a study partner?  I have judged local and global rounds of the WSC tournament.  Not everyone has access to to good coaches, but most have access to skype.
                </p>
                <p><a class="btn btn-primary" href="/lessons" role="button">View details »</a></p>
              </div>
              <div class="col-md-4">
                    <div class="row">
                            <h2>Subject Notes</h2>
                            <i class=" white fas fa-sticky-note fa-2x"></i>
                        </div>
                <p>A collection of resources I used to prepare for coaching students this year.  They won't do the studying for you, but they will make it a lot easier.</p>
                <p><a class="btn btn-primary" href="/notes" role="button">View details »</a></p>
              </div>
              <div class="col-md-4">
                    <div class="row">
                            <h2>WSC Blog</h2>
                            <i class=" white fas fa-microphone fa-2x"></i>
                        </div>
                <p>The random musings of a coach who finds the content for this tournament genuinly interesting.</p>
                <p><a class=" btn btn-primary" href="/blog" role="button">View details »</a></p>
              </div>
            </div>
    
            <hr>
    
          </div> <!-- /container -->
          <% include partials/footer %>
        </main>
    
      
    
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="../../assets/js/vendor/popper.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
      
    


